<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :category %><br />
    <%= f.text_field :category %>
  </div>
  <div class="field">
    <%= f.label :diff_level %><br />
    <%= f.number_field :diff_level %>
  </div>
  <div class="field">
    <%= f.label :diff_type %><br />
    <%= f.text_field :diff_type %>
  </div>
  <div class="field">
    <%= f.label :priority %><br />
    <%= f.number_field :priority %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :assign_date %><br />
    <%= f.date_select :assign_date %>
  </div>
  <div class="field">
    <%= f.label :complete_date %><br />
    <%= f.date_select :complete_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
